/******** VARIABLES *********/

$primary-color: #003566;
$secondary-color: #FFD60A;
$black: #000814;
$white: #fff;

$font-size-text: 14px;
$font-size-h1: 24px;

$big-shadow: 0 0 24px rgba(0, 0, 0, .4);
$small-shadow: 0 0 12px rgba(0, 0, 0, .4);

